<app-header title="Tienda de articulos"></app-header>

<ion-content>

    <ion-card>

        <img alt="" src="https://pbs.twimg.com/media/F-UoHQ_XYAASvzS?format=jpg&name=large" />
    
        <ion-card-header>
    
          <ion-card-title class="ion-card-color-title">Cómo y cuándo se actualiza la tienda</ion-card-title>
    
        </ion-card-header>
      
        <ion-card-content class="ion-card-color">
          La tienda se actualiza cada dia, normalmente a las 21:00 en tu hora local (GMT-3). Cuando la tienda de objetos se actualiza,
          los objetos disponibles de ese momento podrian actualizarse o desaparecer para posiblemente añadir objetos nuevos.
          ¡No te pierdas las novedades!
        </ion-card-content>
    
    </ion-card>

    <div>
      <ion-grid class="ion-grid">
        <ion-row>
          <ion-col size="12" *ngFor="let category of grouped | keyvalue">
            <!-- Título de la categoría -->
            <div class="category-header">
              <h2>{{ category.key }}</h2>
            </div>
      
            <!-- Elementos de la categoría -->
            <ion-row>
              <ng-container *ngFor="let item of category.value">
                <ion-col size="6" size-md="4" size-lg="3">
                  <ion-card [ngStyle]="{'background': 'linear-gradient(to bottom,'+item.colors.color1+','+item.colors.color2+(item.colors.color3?','+item.colors.color3:'')+')'}"class="api-card">
                    <ion-card-header>
                      <ion-card-title class="card-title">{{ item.displayName }}</ion-card-title>
                      <!-- Mostrar la fecha de salida debajo del nombre -->
                      <p *ngIf="item.offerDates?.out" class="offer-date">
                        <strong>Abandona la tienda:</strong> {{ item.offerDates.out | date:'shortDate' }}
                      </p>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-img *ngIf="item.displayAssets.length" [src]="item.displayAssets[0].url" class="item-image"></ion-img>
                      <p class="item-price"><strong>Precio:</strong> {{ item.price.finalPrice }} V-Bucks
                        <img src="https://fortnite-api.com/images/vbuck.png" alt="V-Bucks" style="width: 16px; vertical-align: middle; margin-left: 4px;">
                      </p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </div>

</ion-content>
