<app-header title="Fan-Art"></app-header>

<ion-content>

  <ion-card *ngFor="let p of products">
    <img [src]="p.image" />
    <ion-card-header>
      <ion-card-title>{{p.name}}</ion-card-title>
      <ion-card-subtitle>{{p.Detalle}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{p.masDetalle}}
    </ion-card-content>

    <ion-button (click)="sendEmail()" expand="full" type="submit">Compartir</ion-button>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
