<app-header title="Perfil de usuario"></app-header>

<ion-content class="ion-padding-top ion-text-center">

  <ion-card>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">profile</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-avatar>
      <img *ngIf="user()?.image" [src]="user()?.image" />
      <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
    </ion-avatar>

    <ion-button class="photo-btn" (click)="takeImage()" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
    </ion-button>

    <h2>{{user().name}}</h2>

    <ion-item button detail>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Editar perfil</ion-label>
    </ion-item>

  </ion-card>

</ion-content>
